<div class="container-fluid text-center" >
<h1 class="display-4 text-center mt-5">New Post</h1>

<%= render 'form', holla: @holla %>

<%= link_to 'Back', root_path, class: 'btn btn-primary text-center' %>
</div>
